[default]
; general configuration: default endpoint
endpoint=ovh-eu

[ovh-eu]
; configuration specific to 'ovh-eu' endpoint
application_key=
application_secret=
; use the ck.py file to generate the key
consumer_key=
